body{
    color: #57a8a8;
    background-image: url(https://i.pinimg.com/1200x/68/d3/d1/68d3d1d095e19380e35fc2ff302be4c0.jpg);
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100dvh
}
body::before{
content: "";
position: fixed;
inset: 0;
background: rgba(0,0,0,0.3);
z-index: -1;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 200px;
    list-style-type: none;
    padding: 15px 10px;
}
a{
    color: #57a8a8;
    text-decoration: none;
}
.botao{
    display: inline-block;
    padding: 14px 28px;
    background: linear-gradient(#57a8a8, #455a77);
    color:#fff7af;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: none;
    font-size: 4dvh;
    transition: 0.3s ease;
    font-family: "Great Vibes", cursive;

}
.botao:hover{
transform: translateY(-1dvh);
box-shadow: none;
}
h1{
    margin-top: 10dvh;
    color: #fff7af;
    text-align: center;
    font-size: 8dvh;
    font-family: "Great Vibes", cursive;
}
p{
    color: #fff7af;
    text-align: center;
    padding: 5dvh;
    font-size: 4dvh;
    font-family: "Courier Prime", monospace;
}
#menu-toggle{
    display: none;
}

.menu-botao{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;

    padding: 12px 24px;
    font-family: "Great Vibes", cursive;
    font-size: 4dvh;
    border-radius: 30px;
    border: none;
    background: linear-gradient(#57a8a8, #455a77);
    color: #fff7af;
    cursor: pointer;
}

nav{
    position: fixed;
    top: 0;
    left: -320px;
    width: 300px;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    padding-top: 120px;
    transition: 0.4s ease;
    z-index: 1;
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
}

#menu-toggle:checked + .menu-botao + nav{
    left: 0;
}

.botao{
    display: inline-block;
    padding: 14px 28px;
    font-family: "Great Vibes", cursive;
    font-size: 4dvh;
    border-radius: 30px;
    background: linear-gradient(#57a8a8, #455a77);
    color: #fff7af;
    text-decoration: none;
    transition: 0.3s ease;
}

.botao:hover{
    transform: translateX(6px);
}